@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb{
  background: rgb(63, 63, 63);
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}